<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主机管理登陆</title>
    <link href="/static/liang.ico" rel="shortcut icon" type="image/x-icon">
    <link href="/static/liang.css" rel="stylesheet" type="text/css">
    <script src="/static/jquery-1.12.4.js"></script>

</head>
<body>
<div class="wrapper">
    <div class="header">Login to <span>ben</span></div>
    <form action="/login/" method="post">
        <ul>
            <li>
                <div class="text">
                    <span class="yonghu"></span><input type="text" placeholder="请输入用户名" name="username">
                </div>
            </li>
            <li>
                <div class="password">
                    <span class="mima"></span><input type="password" placeholder="请输入密码"  name="pwd">
                </div>
            </li>
            <li class="remember">
                <input type="checkbox">记住我
            </li>
            <li>
                <a href="">忘记我</a>
            </li>
            <li>
                <input type="submit" value="登陆">
            </li>
        </ul>
    </form>
    <div class="footer">
        <p>ben Personal Blog  <a href="">Copyright ©2018 BEN </a></p>
        <p><a href="">BEN Home</a> | <a href="">Bolg
        </a> | <a href="">Work</a> | <a href="">Terms of Use</a> | <a href="">Contact Me</a></p>
    </div>
</div>
</body>
</html>